/* MISE EN PAGE */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

main {
    min-height: 100vh;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 226, 226);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-basis: 100%;
}


nav {
    margin-right: 30px;
}

nav li:nth-child(1) {
    animation-duration: 1s;
    animation-name: fadeIn;
}

nav li:nth-child(2) {
    animation-duration: 2s;
    animation-name: fadeIn;
}

nav li:nth-child(3) {
    animation-duration: 3s;
    animation-name: fadeIn;
}

nav li:nth-child(4) {
    animation-duration: 4s;
    animation-name: fadeIn;
}

nav li:nth-child(5) {
    animation-duration: 5s;
    animation-name: fadeIn;
}

header ul li a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

header ul li a:hover {
    opacity: 0.3;
}

ul li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
}
/* MAIN */
.bloc-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
}

.image {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.image:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    transition: all 225ms 0ms ease-in-out
}



@media screen and (min-width:1200px){
  .items {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 28.125em;
    border: 0px solid black;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.items img{
  width: 28.125em;
}
#header-logo {
  padding-top: 15px;
  padding-left: 15px;
  animation-duration: 3s;
  animation-name: fadeIn;
}

#header-logo img {
  width: 18.125rem;
}

}

@media screen and (max-width:1199px){
  .items {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 50%;
    border: 0px solid black;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
  .items img{
    width: 100%;
}
#header-logo {
  padding-top: 15px;
  padding-left: 15px;
  animation-duration: 3s;
  animation-name: fadeIn;
  text-align: center;
}

#header-logo img {
  width: 50%;
}
}

/* FOOTER */

footer {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 226, 226);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

footer a {
    color: black;
    text-decoration: none;
}
footer a:hover{
    opacity: 0.3;
}


/*KEYFRAMES*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slidein {
  from {
    margin-left:50%;
    width:50%
  }
  
  to {
    margin-left:50%;
    width:50%;
  }
}

/*Elias*/

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.font
{
	font-family: 'Abel', sans-serif;
}

body
{
	background-color: rgb(229, 226, 226);
}
/*Présentation de l'entreprise*/
.entreprise p
{
	font-size: 20px;
    -webkit-column-count:2;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
    -webkit-column-rule: 2px dashed #555;
    -moz-column-rule: 2px dashed #555;
    column-rule: 2px dashed #555;
}

.entreprise h1
{
	margin: 1.5em;
}

.entreprise p
{
	margin: 30px;
}
.entreprise
{
	padding: 10em;
}
.image{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.image:hover
{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  transition: all 225ms 0ms ease-in-out
}
.entreprise {
  animation-duration: 3s;
  animation-name: slidein;
}

#section3 a{
  text-decoration: none;
  color: rgb(185, 137, 137);
}
#section3 a:hover{
  opacity: 0.7;
}

/*Contact*/
/*Formulaire*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #bdbdd3;}
input:-moz-placeholder { color: #bdbdd3;}
input::-moz-placeholder { color: #bdbdd3;}
input:-ms-input-placeholder { color: #bdbdd3;}

textarea::-webkit-input-placeholder { color: #bdbdd3;}
textarea:-moz-placeholder { color: #bdbdd3;}
textarea::-moz-placeholder { color: #bdbdd3;}
textarea:-ms-input-placeholder { color: #bdbdd3;}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.container {
	max-width: 1200px;
}

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;

}

.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 50px 0px 160px 0px;
}

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input100 {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
}

input.input100 {
  height: 62px;
  padding: 0 35px 0 35px;
}


textarea.input100 {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;

  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #827ffe;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover:before {
  background-color: #403866;
  width: calc(100% + 20px);
}

form {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}

/*Fin contact*/

/*fondu images*/

.fondu_img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.fondu_img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    transition: all 225ms 0ms ease-in-out
}

/*Réalisation*/
.animation
{
  animation-duration: 3s;
  animation-name: slidein;
}
.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
    animation-name: rollIn;
    animation-duration: 2s;
}

#Intro {
    text-align: center;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
}

.taille_A
{
    width: 99.9%;
}

.droite {
    display: flex;
    flex-direction: row;
}

.gauche {
    display: flex;
    flex-direction: row-reverse;
}

.img_taille
{
  width: 50%;
}

/*Patron*/
.card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-avatar {
    width: 100%;
    height: 100%;
    background-color: burlywood;
    overflow: hidden;
    position: relative;
}

.card-avatar img {
    width: 100%;
    height: 100%;
}

.card-description {
    width: 100%;
    height: 0%;
    background-color: var(--regent-saint-blue-overlay-high);
    overflow: hidden;
    position: absolute;
    transition: all .5s ease-in-out;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-cards-container {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

.card-team:hover .card-description {
    height: 100%;
}

.card-team:hover .card-avatar {
    filter: grayscale(100)
}

.card-team:hover .card-description p {
  font-size: 110%;
}

.card-description p {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.75rem;
}

/*MEDIAS*/
@media screen and (min-width:1500px) {
    .card-team {
        height: 12rem;
        width: 18rem;
        margin: auto;
        margin-top: 2rem;
        background-color: #FFF;
        position: relative;
        cursor: pointer;
    }
}

@media screen and (max-width:1499px) {
    .card-team {
        height: 12rem;
        width: 18rem;
        background-color: #FFF;
        position: relative;
        cursor: pointer;
        margin: auto;
        margin-top: 2rem;
    }
}

/*media entreprise*/
@media screen and (min-width:1200px){
  #section1
  {
    display: flex;
    flex-direction: row;
  }
  
  #section2
  {
    display: flex;
    flex-direction: row-reverse;
  }
  
  #section3
  {
    display: flex;
    flex-direction: row;
  }
  #section4
  {
    display: flex;
    flex-direction: row-reverse;
  }
  }
  @media screen and (max-width:1199px){
  #section1
  {
    display: flex;
    flex-direction: column;
  }
  #section1 img{
    order: 1;
  }
  #section1 h1{
    text-align: center;
  }
  #section1 p{
    order: 2;
  }
  #section2
  {
    display: flex;
    flex-direction: column;
  }
  
  #section3
  {
    display: flex;
    flex-direction: column;
  }
  
  #section4
  {
    display: flex;
    flex-direction: column;
  }
  #section4 img{
    order: 1;
  }
  #section4 p{
    order: 2;
  }
  .image{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  }